<h1><%= t '.header' %></h1>

<% unless @followers.exists? %>
  <p><%= t '.not_exists' %></p>
<% else %>
  <%= render 'users/follow_relationships/users_table', users: @followers %>
<% end %>

<%= link_to t('views.common.back'), user_path(@user) %>
<br>
