<h1><%= t '.header' %></h1>

<% unless @user.followers.exists? %>
  <%= t '.not_exists' %>
  <br>
<% else %>
  <%= render 'users/follow_relationships/users_table', users: @user.followers %>
<% end %>

<%= link_to t('views.common.back'), user_path(@user) %>
<br>
