<h2><%= Comment.model_name.human %></h2>

<% unless comments.empty? %>
  <% comments.each  do |comment| %>
    <div style="border: 3px solid #cc4343; margin: 20px;">
      <p>
        <%= name_or_email comment.commenter %>
        <%= comment.updated_at %>
      </p>

      <p>
        <% comment.content.each_line(chomp: true) do |line| %>
          <%= tag.p line %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
